@media(max-width:576px){
    *{
        box-sizing: border-box;
    }
    .banner-text {
        border-radius: 0 0 -150px ;
        
    }
    .follow{
        margin: 30px 0;
    }
    .ache,.ache2,.ach{
        margin: 5px 100px;
    }
    .offer11{
        margin: 5px 20px;
        padding: 20px;

    }
    .price1{
        margin: 15px 75px;
    }
    .footpd{
        margin-bottom: 25px;
    }
}